body{
    background-color:#03a9f4;
}

.register{
    display:flex;
    height:calc(100% - var(--size-header));
    align-items:center;
    justify-content: center;
}

#wrap {
    margin-top:-50px;
    width: 530px;
    margin-left: 40px;
    text-align:left;
}

table {
    border: 3px solid skyblue
}

input[type="text"]{
    height: 15px;
    padding: 8px;
    width:350px;
    font-size:15px;
    border-radius: 8px;
    border-color:#fff;
}
td {
    border: 1px solid skyblue
}

#title {
    background-color: skyblue
}