<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <script src="assets/js/login.js"></script>
    <title>Document</title>
</head>
<body>
    <form method="post" action="/process/login">

        <!-- login Page -->
        <label>ID :</label><input value="" type="text" name="id"><br>
        <label>PW :</label><input value="" type="password" name="password"><br>
        <input type="submit" value="로그인" name="">
    </form>
    
</body>
</html>