<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <script defer src="assets/js/login.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/login.css">
    <title>Login</title>
</head>
<body>
    <!-- login Page -->
    <form method="post" action="/process/login">

        <div class="login">
            <a href="index.html"><img src="images/logo/logo_transparent_wide.png" alt=""></a>
            <div class="loginbox">
                <input id="id" type="text" value="" placeholder="아이디">
                <input id="password" type="password" value="" placeholder="비밀번호">
                <span class="btn">로그인</span>
                <hr>
            </div>
            <ul class="search">
                <li><a href="./NewAccount.html">회원가입</a></li>&nbsp;&nbsp;
                <li><a href="">아이디 찾기</a></li>&nbsp;&nbsp;
                <li><a href="">비밀번호 찾기</a></li>
            </ul>
        </div>
    </form>


    
</body>
</html>